<div>
    <div class="col-md-8">
        <form class="form-horizontal" name="plot">
            <div class="form-group">
                <label class="col-sm-2 control-label">Variable</label>
                <div class="col-sm-9">
                    <select name="variable" class="form-control" ng-model="variable" required ng-options="ctx.identifier.value for ctx in context"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Range</label>
                <div class="col-sm-3">
                    <input name="from" type="text" ng-model="from" class="form-control" placeholder="from" required numeric />
                    <small ng-show="plot.from.$error.numeric">* value should be numeric</small>
                </div>
                <div class="col-sm-3">
                    <input name="to" type="text" ng-model="to" class="form-control" placeholder="to" required numeric />
                    <small ng-show="plot.to.$error.numeric">* value should be numeric</small>
                </div>
                <div class="col-sm-2">
                    <input name="step" type="text" ng-model="step" class="form-control" placeholder="step" required numeric greater-than="0"
                    />
                    <small ng-show="plot.step.$error.numeric">* value should be numeric</small>
                    <small ng-show="plot.step.$error.greaterThan">* value should be greater than 0</small>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-default" ng-disabled="plot.$invalid" ng-click="buildPlot()">GO!</button>
                </div>
            </div>
            <div class="form-group" ng-show="error">
                <label class="col-sm-2 control-label">Errors:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{error}}</p>
                </div>
            </div>
        </form>
        <div class="text-center">
            <canvas width="500" height="500">
                Your Browser does not support canvas unfortunately.
            </canvas>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Rules:</h4>
        <div>
            <small>* the variable must be selected in order to build plot</small>
        </div>
        <div>
            <small>* 'From', 'To' values specify variable range</small>
        </div>
        <div>
            <small>* 'Step' value is required to build variable values collection</small>
        </div>
    </div>
</div>