<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="app.home" href="#/home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="app.build" href="#/build">Calculate</a></li>
            <li ui-sref-active="active"><a ui-sref="app.plot" href="#/plot">Plot</a></li>
            <li ui-sref-active="active"><a ui-sref="app.polygon" href="#/polygon">Polygon</a></li>
        </ul>
    </div>
</nav>
<ui-view>
</ui-view>